@import "tailwindcss";

@theme {
    --color-primary-dark: #8B5CF6;
    --color-secondary-dark: #06B6D4;
    --color-ternary-dark: #ADFF2F;
    --color-neutral-dark: #121212;
    --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {

    html,
    body {
        font-family: var(--font-inter);
        height: 100%;
    }
}